@import url('https://rsms.me/inter/inter.css');

html,
body {
  font-family: 'Inter', sans-serif !important;
}
@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var', sans-serif !important;
  }
}

.section-heading {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-heading::before {
  background-color: teal;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 5px;
  width: 50px;
  margin-bottom: 10px;
}
